Exercise 1 - Print Function

In [1]:
print("Hello World")

Hello World

In [2]:
my_text = "Hello World"
print(my_text)

Hello World

In [3]:
print("Apple", "Grape", "Pineapple")

Apple Grape Pineapple

Exercise 2 - Variables

In [4]:
glass_of_water = 3

print("I drank", glass_of_water, "glasses of water today.")

I drank 3 glasses of water today.

In [5]:
glass_of_water = glass_of_water + 1

print(glass_of_water)

4

Exercise 3 - Data Type

In [6]:
men_stepped_on_the_moon = 3

print(men_stepped_on_the_moon)

3

In [7]:
my_reason_for_coding = "Beacause I am interested in Python"

print(my_reason_for_coding)

Beacause I am interested in Python

In [8]:
global_mean_sea_level_2018 = 21.36

print(global_mean_sea_level_2018)

21.36

In [9]:
staying_alive = True

staying_alive

True

Exercise 4 - Type Conversion

In [11]:
answer_1 = type(men_stepped_on_the_moon)
print(answer_1)

<class 'int'>

In [12]:
answer_2 = type(my_reason_for_coding)
print (answer_2)

<class 'str'>

In [13]:
answer_3 = type(global_mean_sea_level_2018)
print(answer_3)

<class 'float'>

In [14]:
answer_4 = type(staying_alive)
print(answer_4)

<class 'bool'>

In [15]:

my_grade = "10"
answer_5 = int(my_grade)
print(answer_5)

10

In [16]:
my_temp = 97.70
answer_6 = int(my_temp)
print(answer_6)

97

In [17]:
shoe_price = "69.99"
answer_7 = float(shoe_price)
print(answer_7)

69.99

In [18]:
gross_world_product = 84.84

gwp_str = str(gross_world_product)

answer_8="In 2018 gross product of the world (GWP) was " + gwp_str + " in trillion US dollars."
print(answer_8)

In 2018 gross product of the world (GWP) was 84.84 in trillion US dollars.

Exercise 5 - Data Structures

In [19]:
gift_list = []
answer_1 = type(gift_list)
print(answer_1)

<class 'list'>

In [20]:
grocery_items = {}
answer_2 = type(grocery_items)
print(answer_2)

<class 'dict'>

In [21]:
bucket_list = ()
answer_2 = type(bucket_list)
print(answer_2)

<class 'tuple'>

In [22]:
gift_list = ["toys", "tshirt", "pants"]
print(gift_list)

['toys', 'tshirt', 'pants']

In [23]:
grocery_list = {"apple": 3, "pineapple": 1, "banana": 5}
print(grocery_list)

{'apple': 3, 'pineapple': 1, 'banana': 5}

In [25]:
bucket_list = ("meeting", "gym", "groceries")
print(bucket_list)

('meeting', 'gym', 'groceries')

Exercise 6 - Lists

In [27]:
lst=[11, 100, 99, 1000, 999]
answer_1= lst[0]

print(answer_1)

11

In [30]:
lst=[11, 100, 101, 999, 1001]

print(lst[1])

1001

In [33]:
answer_1=lst[4] #we could also use lst[-1]

print(answer_1)

1001

In [34]:
gift_list=['socks', '4K drone', 'wine', 'jam']

gift_list.append("pajamas")
print(gift_list)

['toys', 'tshirt', 'pants', 'pajamas']

In [35]:
gift_list=['socks', '4K drone', 'wine', 'jam']

gift_list.append(["socks","thsirt","pajamas"])
print(gift_list)

['socks', '4K drone', 'wine', 'jam', ['socks', 'thsirt', 'pajamas']]

In [36]:
gift_list=['socks', '4K drone', 'wine', 'jam']

gift_list.insert(2,"slippers")
print(gift_list)

['socks', '4K drone', 'slippers', 'wine', 'jam']

In [37]:

lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]

answer_1 = lst.index(8679)
print(answer_1)

8

In [38]:
lst=["CRV", "Outback", "XC90", "GL", "Cherokee", "Escalade"]

lst.append(["Navigator", "Suburban"])
print(lst)

['CRV', 'Outback', 'XC90', 'GL', 'Cherokee', 'Escalade', ['Navigator', 'Suburban']]

In [40]:
lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]

lst.remove(101)
print(lst)

[55, 777, 54, 6, 76, 1, 2, 8679, 123, 99]

In [41]:
lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]

lst.reverse()
print(lst)

[99, 123, 8679, 2, 1, 101, 76, 6, 54, 777, 55]

In [45]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

answer_1 = lst.count(6)
print(answer_1)

4

In [46]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

answer_1 = sum(lst)
print(answer_1)

1090

In [47]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

answer_1 = min(lst)
print(answer_1)

1

In [48]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

answer_1 = max(lst)
print(answer_1)

777

Exercise 7 - Tuple

In [49]:
tt=(11, 100, 99, 1000, 999)

answer_1 = tt[0]

print(answer_1)

11

In [52]:
tt=(11, 100, 101, 999, 1001)

#Type your answer here.

answer_1 = tt[2]

print(answer_1)

101

In [53]:
lst=(11, 100, 101, 999, 1001)

#Type your answer here.

answer_1 = lst[-2]

print(answer_1)

999

In [54]:

tt=(55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99)
#  Type your code here.

answer_1 = tt.index(2)

print(answer_1)

7

In [55]:
tt=(55, 6, 777, 54, 6, 76, 7777, 1, 777, 2, 6)

#  Type your code here.

answer_1 = tt.count(777)

print(answer_1)

2

In [56]:
tt=(42, 1092, 11, 88, 65, 2, 6)

#  Type your code on line 4:

ans_1= sum(tt)


print(ans_1)

1306

In [57]:
tt=(66, 555, 11, 101, 9, 1001)

#  Type your code on line 4:

ans_1= min(tt)


print(ans_1)

9

In [58]:
tt=(66, 555, 11, 101, 9, 1001)

#  Type your code on line 4:

ans_1= max(tt)


print(ans_1)

1001

Exercise 8 - Dictionary

In [61]:
dict1={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}

#Type your answer below.
answer_1 = dict1["born"]

print(answer_1)

-427

In [63]:
dict1={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}

#Type your answer below.
dict1["born"] = -428

print(dict1)

{'name': 'Plato', 'country': 'Ancient Greece', 'born': -428, 'teacher': 'Socrates', 'student': 'Aristotle'}

In [72]:
dict1={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}

#Type your answer below.
dict1["work"] = ["Apology", "Phaedo", "Republic", "Symposium"]

print(dict1)

{'name': 'Plato', 'country': 'Ancient Greece', 'born': -427, 'teacher': 'Socrates', 'student': 'Aristotle', 'work': ['Apology', 'Phaedo', 'Republic', 'Symposium']}

In [73]:
dict2={"son's name": "Lucas", "son's eyes": "green", "son's height": 32, "son's weight": 25}

#Type your answer below.
dict2["son's height"] += 2

print(dict2)

{"son's name": 'Lucas', "son's eyes": 'green', "son's height": 34, "son's weight": 25}

In [67]:
dict2={"son's name": "Lucas", "son's eyes": "green", "son's height": 32, "son's weight": 25}

#Type your answer below.
ans_1=dict2.items()

print(ans_1)

dict_items([("son's name", 'Lucas'), ("son's eyes", 'green'), ("son's height", 32), ("son's weight", 25)])

In [71]:
dict2 = {"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Type your answer inside the print.
ans_1= dict2.get("son's eye color")

print (ans_1)

green

In [78]:
dict2={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Type your answer here.
ans_1=dict2.get("son's age", 2)

print(ans_1)

2

In [79]:
dict2={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#clear the dictionary here then print it.
dict2.clear()

print(dict2)

{}

In [82]:
dict2={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Write your answer here.
ans_1= len(dict2)

print(ans_1)

4

In [84]:
dic2={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Write your answer here.
ans_1= max(dict2)

print(ans_1)

son's weight

In [85]:
dict2={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Write your answer here.
ans_1= min(dict2)

print(ans_1)

son's eye color

Exercise 9 - Strings

In [86]:
str="It's always darkest before dawn."

print(str)

It's always darkest before dawn.

In [89]:
str="It's always darkest before dawn."

#Type your answer here.

ans_1=str[0:2] + str[-1]

print(ans_1)

It.

In [92]:
str="It's always darkest before dawn."

#Type your code here.

str = str.replace(".","!")

print(str)

It's always darkest before dawn!

In [94]:
str="EVERY Strike Brings Me Closer to the Next Home run."
# Type your code here.

str = str.lower()


print(str)

every strike brings me closer to the next home run.

In [99]:
str="don't stop me now."
# Type your code here.
str = str.upper()

print(str)

DON'T STOP ME NOW.

In [100]:
str="there are no traffic JamS Along The extra mile."

#Type your answer here.
str= str.capitalize()

print(str)

There are no traffic jams along the extra mile.

In [101]:
str="There are no traffic jams along the extra mile."
#  Type your code here.
ans_1= str.startswith("a")

print(ans_1)

False

In [103]:
str="There are no traffic jams along the extra mile."
#  Type your code here.
ans_1= str.endswith(".")

print(ans_1)

True

In [105]:
str="The best revenge is massive success."
#  Type your code here.
ans_1=str.index("v")

print(ans_1)

11

In [106]:
str="The best revenge is massive success."
#  Type your code here.
ans_1= str.find("m")

print(ans_1)

20

In [109]:
str="The best revenge is massive success."

#  Type your code here.

ans_1=str.find("X") #return -1 when it can't find the character.

print(ans_1)

-1

In [110]:
str="People often say that motivation doesn't last. Well, neither does bathing.  That's why we recommend it daily."
#  Type your code here.

ans_1= str.count("a")

ans_2= str.count("o")


print("count of a is: ", ans_1, " count of o is: ", ans_2)

count of a is:  7  count of o is:  7

In [111]:
v_1="1"
v_2=1

#  Type your code on line 4:

ans_1= type(v_1)

ans_2= type(v_2)


print(ans_1)
print(ans_2)

<class 'str'>
<class 'int'>

In [112]:
str="1.975.000"

#  Type your code here:

ans_1= len(str)


print(ans_1)

9