Exercise 1: Calculate the multiplication and sum of two numbers

Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [4]:
def mutiplication_below_1000(number1,number2):
    if number1*number2 <= 1000:
        return number1*number2
    else:
        return number1+number2

In [6]:
mutiplication_below_1000(40,30)

70

Exercise 2: Print the sum of the current number and the previous number

Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

In [ ]:

for i in range(0,10):
    a = i - 1
    if a > 0:
        a
    else:
        a = 0
    print("Current number",i, "Previous Number",a,"Sum",i+a)
    i += 1

Current number 0 Previous Number 0 Sum 0
Current number 1 Previous Number 0 Sum 1
Current number 2 Previous Number 1 Sum 3
Current number 3 Previous Number 2 Sum 5
Current number 4 Previous Number 3 Sum 7
Current number 5 Previous Number 4 Sum 9
Current number 6 Previous Number 5 Sum 11
Current number 7 Previous Number 6 Sum 13
Current number 8 Previous Number 7 Sum 15
Current number 9 Previous Number 8 Sum 17

Exercise 3: Print characters from a string that are present at an even index number

Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

In [24]:
user_string = input("Please input a string")
for i in range(0, len(user_string),2): # "2" is the steps between numbers, 0-2-4-6-8
    print(user_string[i])

p
n
t
v

Exercise 4: Remove first n characters from a string

Write a program to remove characters from a string starting from zero up to n and return a new string.

For example:

remove_chars("pynative", 4) so output must be tive. Here we need to remove first four characters from a string.

remove_chars("pynative", 2) so output must be native. Here we need to remove first two characters from a string.

Note: n must be less than the length of the string.

In [25]:
def remove_word_charac(user_word,n):
    if n < len(user_word):
        return user_word[n:]

In [31]:
remove_word_charac("pynative",4)

'tive'

Exercise 5: Check if the first and last number of a list is the same

Write a function to return True if the first and last number of a given list is same.

 If numbers are different then return False.

In [34]:
def first_last_list_checker(list1):
    if list1[0] == list1[-1]:
        return True
    else:
        return False

In [36]:
first_last_list_checker([10,12,34,45,110])

False

Exercise 6: Display numbers divisible by 5 from a list

Iterate the given list of numbers and print only those numbers which are divisible by 5

In [42]:
def divisible_by_5(list1):
    print("Given list:", list1)
    print('Divisible by 5:')
    for i in list1:
        if i%5 == 0:
            print(i) #We need to use print because if we use return it will exit the function on the first number that is divisible by 5.

In [43]:
divisible_by_5([0,5,15,40,43,54])

Given list: [0, 5, 15, 40, 43, 54]
Divisible by 5:
0
5
15
40

Exercise 7: Return the count of a given substring from a string

Write a program to find how many times substring “Emma” appears in the given string.

In [50]:
def substring_counter(string1,substring1):
    return string1.count(substring1)

In [53]:
substring_counter("Emma is good developer. Emma is a writer","Emma")

2

Exercise 8: Print the following pattern

1 

2 2 

3 3 3 

4 4 4 4 

5 5 5 5 5

In [64]:
for i in range(1,6):
    print(str(i)*i)
    i=+1

1
22
333
4444
55555

In [70]:
for num in range(6):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

Exercise 9: Check Palindrome Number

Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is same after reverse. For example 545, is the palindrome numbers

In [105]:
def palindrome(number):
    list1 = [int(a) for a in str(number)]
    if list1 == list(reversed(list1)): 
        return print("Yes. Given number is palindrome number")
    else:
        return print("No. Given number is not palindrome number")

In [106]:
palindrome(212)

Yes. Given number is palindrome number

Exercise 10: Create a new list from a two list using the following condition

Create a new list from a two list using the following condition

Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [107]:
def listcombiner(list1, list2):
    list3 = []
    for i in list1:
        if i%2 != 0:
            list3.append(i)
    for a in list2:
        if a%2 == 0:
            list3.append(a)
    return list3

In [108]:
listcombiner([10, 20, 25, 30, 35],[40, 45, 60, 75, 90])

[25, 35, 40, 60, 90]

Exercise 11: Write a Program to extract each digit from an integer in the reverse order.

For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [126]:
def number_reverser(number):
    while number > 0:
        # get the last digit
        digit = number % 10 #This is getting the remainder of the division (7536/10) wich is 6
        # remove the last digit and repeat the loop
        number = number // 10 #This is dividing the number by 10 and rounding it down to the neearest whole number (7536 // 10 = 753)
        print(digit, end=" ")

In [127]:
number = 7536
print("Given number", number)
number_reverser(7536)

Given number 7536
6 3 5 7

Exercise 12: Calculate income tax for the given income by adhering to the below rules

In [165]:
def income_tax(income):
    taxes = 0
    if income > 10000:
        taxes = 10000 * 0.1
    if income > 20000:
        income = income - 20000
        taxes += (income * 0.2)
    return taxes

In [166]:
income_tax(45000)

6000.0

Exercise 13: Print multiplication table form 1 to 10

Expected Output:

1  2 3 4 5 6 7 8 9 10 	

2  4 6 8 10 12 14 16 18 20 		

3  6 9 12 15 18 21 24 27 30 		

4  8 12 16 20 24 28 32 36 40 		

5  10 15 20 25 30 35 40 45 50 		

6  12 18 24 30 36 42 48 54 60 		

7  14 21 28 35 42 49 56 63 70 		

8  16 24 32 40 48 56 64 72 80 		

9  18 27 36 45 54 63 72 81 90 		

10 20 30 40 50 60 70 80 90 100

In [199]:
for i in range (1,11):
    for a in range(1,11):
        print(i*a, end= " ")
    print("\n")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)

In [234]:
for i in range(5,0,-1):
    for j in range(0,i):
        print("*", end = " ")
    print("\n")

* * * * *

* * * *

* * *

* *

*

Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

Note here exp is a non-negative integer, and the base is an integer.

In [245]:
def exponent(base,exp):
    if exp>=0:
        return base**exp
    else:
        return print("Enter a non-negative exponent")

In [247]:
exponent(2,-3)

Enter a non-negative exponent